blinker
certifi
charset-normalizer
click
Flask
idna
itsdangerous
Jinja2
MarkupSafe
PyQt6
PyQt6-Qt6
PyQt6_sip
PySide6
PySide6_Addons
PySide6_Essentials
pyspark
requests
shiboken6
urllib3
Werkzeug
Flask-Login
Flask-SQLAlchemy
Flask-Mail
email-validator
python-dotenv

# vmtool is a local pybind11 extension installed in your environment
